h1, p, input {
    font-family: 'Lato', sans-serif;
}

#speechContainer {
    margin:30px;
    color: green;
}
body {
  background: url("../../img/Screenshot_2023-10-19_18-52-45.png");
   width: 1000px;
    height: 500px;
}

#submitButton {
    background-color: deepskyblue;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
}

#submitButton:hover {
    cursor: pointer;
}


#speechTranscriptContainer {
    margin-top: 20px;
}

#speechText {
    font-size: 18px;
    width: 500px;
    color: darkgreen;
}


