<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}"  />
    <title>About Us</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">FiDawg</div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Help?</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="about">
        <h1>About Us</h1>
        <p style="font-weight: bold">FiDawg uses Google Speech recognition...</p>
        <div class="about-info">
            <div class="about-img">
                <img src="img/Screenshot_2023-10-19_18-52-45.png" alt="logo1.png">
            </div>
        </div>
        <div>
        <p>FiDawg uses Google Speech recognition to convert the
                       speech into text in real-time.This technology
                       is supported by Firefox,Chrome browser (for desktop)
                       and some browsers on Android OS.</p>
                    <button>Read More...</button>
        </div>
    </section>

    <section class="team">
        <h1>Our Team</h1>
        <div class="team-cards">
            <!-- Cards here -->
            <!-- Card 1 -->
            <div class="card"></div>
        </div>
    </section>



</body>
</html>