<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech Recognition in Python</title>
    <link rel="stylesheet" href="../static/styles/index.css">
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/index.css') }}"  />
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

</head>
<body>
  <h1> Contacts:</h1>
  <p> Name: Fiddle Collins</p>
  <a href="https://api.whatsapp.com/send?phone=+254746919779">Whatsapp</a>
  <a href="mailto:fiddleodera1@gmail.com">E-mail</a>
  <a href="index.html">Home</a>
</body>
</html>