<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Speech Recognition in Python</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}"  />
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <nav>
            <div class="logo">FiDawg</div>
            <ul class="nav-links">
                <button1>Home</button1>
                <button2>About</button2>
                <button3>Services</button3>
                <button4>Contact</button4>
            </ul>
        </nav>
    </header>

<div id="speechContainer">
    <h1>Upload New File...</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <br>
        <input type="submit" id="submitButton" value="Transcribe">
    </form>

    {% if transcript != "" %}
<div id="speechTranscriptContainer">
    <h1>Transcript</h1>
    <p>{{ transcript }}</p>
</div>
    {% endif %}
</div>

    <footer>
        <p>© 2023 FiDawg. All Rights Reserved.</p>
    </footer>

</body>
</html>