aiohttp~=3.8.5
aiohttp-wsgi
aiosignal
asgiref
async-timeout
attrs
charset-normalizer
click
deepgram-sdk
Flask~=2.3.3
frozenlist
idna
itsdangerous
jinja2
MarkupSafe
multidict
python-dotenv~=0.19.2
websockets
Werkzeug
yarl